<div id="app">
	

    <form>
        <div class="form-group row no-gutters">
            <div v-bind:class="{'col-6': true, 'has-danger': errors.has('firstName')}">
                <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name" v-model="firstName" v-validate="'required|min:2'">
                <span class="form-control-feedback" v-if="errors.has('firstName')">{{errors.first('firstName')}}</span>
            </div>
            <div v-bind:class="{'col-6': true, 'has-danger': errors.has('lastName')}">
                <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" v-model="lastName" v-validate="'required|min:2'">
                <span class="form-control-feedback" v-if="errors.has('lastName')">{{errors.first('lastName')}}</span>
            </div>
        </div>
        <div v-bind:class="{'form-group': true, 'has-danger': errors.has('email')}">
            <input id="email" name="email" type="email" class="form-control" placeholder="Your email address" v-model="email" v-validate="'required|email'">
            <span class="form-control-feedback" v-if="errors.has('email')">{{errors.first('email')}}</span>
        </div>
        <div v-bind:class="{'form-group': true, 'has-danger': errors.has('password')}">
            <input id="password" name="password" type="password" class="form-control" placeholder="Choose a password" v-model="password" v-validate="'required|min:8|max:32'">
            <span class="form-control-feedback" v-if="errors.has('password')">{{errors.first('password')}}</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" v-on:click="sign">Sign Up</button>
        </div>
    </form>
	
	<script src=" https://unpkg.com/vue/dist/vue.js"></script>
 <script src=" https://cdn.jsdelivr.net/npm/vue"></script>
 <script src = "https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js"></script>
 <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-beta.25/vee-validate.min.js"></script>
 
<script src="we.js"></script>
</div>